version: "3.9"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"

  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"

  fixed_api:
    build: ./fixed_api
    ports:
      - "9000:9000"
    depends_on:
      - postgres
      - mongodb