{# ETL2/04_templates/to_ngsiv2.json.j2 #}
{#
  This Jinja2 template creates a single NGSI-v2 entity from a row
  of the DataFrame produced by the '02_structure_to_ngsi.sql' query.
#}
{
  "id": "{{ entity_id }}",
  "type": "{{ entity_type }}",
  "observedAt": {
    "type": "DateTime",
    "value": "{{ observed_at_iso }}"
  },
  "temperature": {
    "type": "Number",
    "value": {{ temp_value }}
  },
  "relativeHumidity": {
    "type": "Number",
    "value": {{ humidity_value / 100 }}
  },
  "location": {
    "type": "geo:point",
    "value": "{{ latitude }}, {{ longitude }}"
  }
}